<!doctype html>
<html>
<head>
 <title>Datastore and Firebase Auth Example</title>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static',
filename='style.css') }}">
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet"
href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
</head>
<body>
 <h1>Datastore and Firebase Auth Example</h1>
 <div id="firebaseui-auth-container"></div>
  <button id="sign-out" hidden="true">Sign out</button>
  <div id="login-info" hidden="true">

<h2>Login Info</h2>
{% if user_data %}
<dl>
<dt>Name:</dt><dd>{{ user_data['name'] }}</dd>
<dt>Email:</dt><dd>{{ user_data['email'] }}</dd>
</dl>
<!-- form for adding in a new address -->
<form action="/add_address" method="post">
Address line 1:<input type="text" name="address1"/><br/>
Address line 2:<input type="text" name="address2"/><br/>
Address line 3:<input type="text" name="address3"/><br/>
Address line 4:<input type="text" name="address4"/><br/>
<input type="submit" name="button"/>
</form>
<br/>
<!-- block that will print out the addresses in turn -->
{% for address in addresses %}
Address {{ loop.index - 1 }}<br/>
Address line 1:{{ address.address1 }}<br/>
Address line 2:{{ address.address2 }}<br/>
Address line 3:{{ address.address3 }}<br/>
Address line 4:{{ address.address4 }}<br/>
<br/>
<form action="/delete_address/{{ loop.index - 1 }}" method="post">
<input type="submit" name="delete"/>
</form>
{% endfor %}
{% elif error_message %}
<p>Error Message: {{ error_message }}</p>
{% endif %}


  </div>


 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
